
* {
    padding: 0;
    margin: 0;
}
#lhhhg {
    width: 100vw;
    height: 100vh;
}
#ef1,
#ef2,
#ef3,
#left {
    position: absolute;
    max-width: 100%;
}
#content1 {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
#logo2 {
    height: 5rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}
#left {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: transparent;
    top: 2%;
    left: 5%;
    border: 0;
    & img {
        height: 70%;
        width: 70%;
    }
}
#ef1,
#ef2 {
    width: 20rem;
}
#ef3,
#ef2 {
    bottom: 0;
}
#ef2 {
    right: 0;
    bottom: -2%;
}
#ef1 {
    transform: rotate(-80deg);
    width: 20rem;
    height: 20rem;
    top: -5%;
    right: -5%;
}
#ef3 {
    width: 21rem;
}
#ef2 {
    width: 13rem;
}
#btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10%;
    & button {
        height: 4rem;
        width: 8rem;
        border-radius: 1rem;
        background: green;
        color: white;
        font-weight: 800;
        border: 0;
        font-size: 1rem;
    }
}
@media (width>421px) {
    #btns {
      gap: 30%;
        & button {
            width: 10rem;
            height: 5rem;
        }
    }
}
