*{
    padding:0;
    margin:0;
}
html{
    font-size:62.5%;
}
#left{
    position: absolute;
    top:5%;
    left:5%;
    background: grey;
    transform:scale(0.8);
    border-radius:50%;
}
#logo3{
    transform:scale(0.6);
    
    margin-bottom: 17rem;
}
body {
   height: 100vh;
   width: 100vw;
}
#head{color:white;
font-size:8rem;}
#head2{color:grey;
font-size:5rem;}
#href{
    color:green;
}
#content2 {
height:100%;
    display:flex;
    flex-direction:column;
    gap:6rem;
    align-items:center;
    justify-content:center;
}
#inputs{
    display:flex;
    gap:6rem;
    flex-direction:column;
}
#email,#name,#password{
    height:8rem;
    width: 70rem;
    padding:2rem;
    font-size:6rem;
    border-radius:10rem;
    color:white;
    background:transparent;
    border-color:grey;
}
#btn5{
    background: green;
    color:white;
    text-align:center;
    height:15rem;
    width: 50rem;
    margin-top:10%;
    font-size:7rem;
    font-weight:900;
    border-radius: 10rem;
}
#last{
    color:white;
    display:flex;
    font-size:5rem;
    align-items:center;
    justify-content:center;
}
#form{
    display:flex;
    flex-direction:column;    
    align-items:center;
    justify-content:center;
}
#or{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
    & img {
        width:30%;
    }
    & h3{
        font-size:5rem;
    }
}
#right{
    transform:rotate(180deg);
}
#op{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5rem;
    background: #408cff;
    padding:2rem;
   
    border-radius:10rem;
    border:0.5rem solid white;
    & span{
        color: white;
        font-size:5rem;
    }
    & img{
        background: white;
        padding:1rem;
        border-radius: 50%;
    }
}
#change{
    margin-left:1rem ;
    color:blue;
}
#error{
    color:red;
    margin-top:2rem;
    font-size:4rem;
}
#pass{
    position: relative;
}
#eye{
    position:absolute;
    height: 7rem;
    top:50%;
    right:5%;
    width: 7rem;
    transform:translate(0,-50%)
}