*{
    padding:0;
    margin:0;
}
html{
    font-size:62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background: black;
    
}
nav{
height:10%;
width:130%;
margin:0 auto;
    display:flex;
    justify-content:space-around;
    padding:3rem;
   background: red;
    padding-top:0.5rem;
}
#menu{
padding-top:4%;
    display:flex;
    gap:1rem;
    padding-right:2%;
    flex-direction:column;
}
#logo4{
    transform:scale(0.7);
    margin-left:-10%;
}
#search{
margin-top:8%;
    height: 40%;
}
footer{
    position:fixed;
    bottom:0;
    height:5%;
    width:100%;
    background: #181818de;
    display:flex;
    justify-content:space-around;
    padding:3% 0 ;
    
}

#main1{
margin:0 5%;   
}

#content6 {
width:105vw;
border-radius: 5rem;
height:59%;
background: #55ff6def;
padding-left:10%;
    color:white;
    &  h1{
    padding-top:8%;
        font-size:4rem;
    }
    & h2{
        font-size:8rem;
    }
    & h3{
        font-size:6rem;
    }
}
#pic{
 position: absolute;
 margin-top:-30%;
}
#op2{
    display:flex;
    color:white;
    width:100%;
    justify-content:space-around;
}